@function size($size: "md") {

  @if $size == "xs" {
    @return 4px;
  }

  @if $size == "sm" {
    @return 8px;
  }

  @if $size == "md" {
    @return 16px;
  }

  @if $size == "lg" {
    @return 24px;
  }

  @if $size == "xg" {
    @return 32px;
  }

}

@mixin shadow($color, $size: "md") {

  @if $size == "sm" {
    box-shadow: 0 1px 2px $color-primary;
  }

  @if $size == "md" {
    box-shadow: 0 3px 6px $color-primary;
  }

  @if $size == "lg" {
    box-shadow: 0 5px 10px $color-primary;
  }
}
