// FONT FAMILY
$font-family-Roboto: 'Roboto', sans-serif;
$font-family-Lato: 'Lato', sans-serif;
$font-family-Poppins: 'Poppins', sans-serif;
$font-family-Teko: 'Teko', sans-serif;

@mixin fontText($size: "sm") {
  $size-text-sm: 12px;
  $size-text-md: 16px;
  $size-text-lg: 20px;

  font-family: $font-family-Roboto;

  @if $size == "sm" {
    font-size: $size-text-sm;
    line-height: $size-text-sm;
  }

  @if $size == "md" {
    font-size: $size-text-md;
    line-height: $size-text-md;
  }

  @if $size == "lg" {
    font-size: $size-text-lg;
    line-height: $size-text-lg;
  }
}

@mixin fontTitle($size: "sm") {
  font-family: $font-family-Roboto;

  @if $size == "sm" {
    font-size: 32px;
  }

  @if $size == "md" {
    font-size: 48px;
  }

  @if $size == "lg" {
    font-size: 64px;
  }
}
