.ShopCard {
    width: 280px;
    padding: spacing("lg");
    @include border();
    @include shadow("md", $color-grey-1);

    &__bottom {
        margin-top: spacing("xxl");
    }

    &__labels {
        display: flex;
        padding: 0;
        margin: 0;
        margin-bottom: spacing("sm");
        list-style: none;

        > * {
            margin-right: spacing("xs");
        }
    }

    &__contacts {
        margin: 0;
        margin-top: spacing("xs");
        padding: 0;

        .Text:first-child {
            margin-bottom: spacing("xs");
        }

        .Text {
            margin-bottom: spacing("xxs");
        }
    }
}